In [90]:
import IPython.display as display
from PIL import Image
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import os, os.path
import pathlib
from pathlib import Path
import pandas as pd
import re

In [20]:
tf.__version__

'2.2.0-rc2'

In [155]:
cwd = os.getcwd()
data_folder = Path(cwd)
image_list = list(data_folder.glob('*/dataset1.1/*.JPG'))

In [156]:
image_count = len(list(data_folder.glob('*/*.JPG')))
image_count

0

In [157]:
img = Image.open(image_list[0])
img.show()

IndexError: list index out of range

In [43]:
for image_path in image_list:
    if '(1)' in image_path.stem:
        image_list.remove(image_path)

In [45]:
tf.keras.preprocessing.image.ImageDataGenerator

tensorflow.python.keras.preprocessing.image.ImageDataGenerator

In [136]:
f_train = open("dataset1.1/simpleTrainFullPhotosSortedFullAnnotations.txt")
train_lines = f_train.readlines()
f_train.close()

df_train = pd.DataFrame(train_lines)
df_train.rename({df_train.columns[0]: "line"}, axis=1, inplace=True)

df_train['id'] = df_train["line"].apply(lambda x: x.split("\\")[2].split(".bmp")[0] + ".JPG")
df_train['NumAnnots'] = df_train["line"].apply(lambda x: x.split(".bmp ")[1].split(" ")[0])
df_train['labels'] = df_train['line'].apply(lambda x: list(filter(None, re.split(".bmp [0-9]+ ", x)[1].split(" ")))[:-1])
df_train['FirstLabel'] = df_train['labels'].apply(lambda x: x[:4])
df_train['result'] = df_train["line"].apply(lambda x: x.split("\\")[1])
df_train['binary'] = 1
df_train.head()

df_train.iloc[0, 0]

'Train data\\Positive data\\G0010033.bmp 6 1990 1406 66 14 1464 1442 92 16 1108 1450 54 16 558 1434 102 16 338 1450 72 18 262 1450 58 22                                \n'

In [137]:
df_train.head()

,line,id,NumAnnots,labels,FirstLabel,result,binary
0,Train data\Positive data\G0010033.bmp 6 1990 1...,G0010033.JPG,6,"[1990, 1406, 66, 14, 1464, 1442, 92, 16, 1108,...","[1990, 1406, 66, 14]",Positive data,1
1,Train data\Positive data\G0010034.bmp 5 1804 1...,G0010034.JPG,5,"[1804, 1424, 90, 16, 1192, 1484, 110, 16, 782,...","[1804, 1424, 90, 16]",Positive data,1
2,Train data\Positive data\G0010035.bmp 4 1590 1...,G0010035.JPG,4,"[1590, 1452, 106, 24, 840, 1544, 132, 28, 368,...","[1590, 1452, 106, 24]",Positive data,1
3,Train data\Positive data\G0010036.bmp 3 1322 1...,G0010036.JPG,3,"[1322, 1516, 134, 28, 362, 1658, 156, 38, 1744...","[1322, 1516, 134, 28]",Positive data,1
4,Train data\Positive data\G0010037.bmp 2 884 16...,G0010037.JPG,2,"[884, 1638, 190, 52, 1428, 1654, 98, 26]","[884, 1638, 190, 52]",Positive data,1

In [124]:
f_test = open("dataset1.1/simpleTestFullSizeAllPotholesSortedFullAnnotation.txt")
test_lines = f_test.readlines()
f_test.close()

df_test = pd.DataFrame(test_lines)
df_test.rename({df_test.columns[0]: "line"}, axis=1, inplace=True)

df_test['id'] = df_test["line"].apply(lambda x: x.split("\\")[1].split(".bmp")[0])
df_test['NumAnnots'] = df_test["line"].apply(lambda x: x.split(".bmp ")[1].split(" ")[0])
df_test['labels'] = df_test['line'].apply(lambda x: list(filter(None, re.split(".bmp [0-9]+ ", x)[1].split(" ")))[:-1])
df_test['FirstLabel'] = df_test['labels'].apply(lambda x: x[:4])
df_test.head()

,line,id,NumAnnots,labels,FirstLabel
0,Test data\G0011476.bmp 2 2176 1580 242 44 1726...,G0011476,2,"[2176, 1580, 242, 44, 1726, 1458, 106, 26]","[2176, 1580, 242, 44]"
1,Test data\G0011523.bmp 3 2250 1472 68 24 2192 ...,G0011523,3,"[2250, 1472, 68, 24, 2192, 1432, 56, 18, 1974,...","[2250, 1472, 68, 24]"
2,Test data\G0011524.bmp 3 2474 1592 120 40 2336...,G0011524,3,"[2474, 1592, 120, 40, 2336, 1508, 88, 24, 1992...","[2474, 1592, 120, 40]"
3,Test data\G0011562.bmp 1 2188 1542 220 50 ...,G0011562,1,"[2188, 1542, 220, 50]","[2188, 1542, 220, 50]"
4,Test data\G0011585.bmp 5 1048 1724 330 48 1472...,G0011585,5,"[1048, 1724, 330, 48, 1472, 1514, 142, 24, 164...","[1048, 1724, 330, 48]"